/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 8, 2023, 4:48:23 PM
    Author     : jrayv20
*/

.loginVbox {
    -fx-background-image:url('file:/Users/jrayv20/Documents/NetBeansProjects/WeatherLens/blue-gradient-background-with-sparkling-light-shine-illustration-and-bokeh-lights-illustration-free-vector.png');
}

.createAccountVbox {
    -fx-background-image:url('file:/Users/jrayv20/Documents/NetBeansProjects/WeatherLens/blue-gradient-background-with-sparkling-light-shine-illustration-and-bokeh-lights-illustration-free-vector-2.png');
    
}