/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 8, 2023, 4:48:23 PM
    Author     : jrayv20
*/

.loginVbox {
    -fx-background-color:white;
}
.sidebar{
    -fx-background-color:cornflowerblue;
}

.createAccountVbox {
    -fx-background-image:url('file:Images/blue-gradient-background-with-sparkling-light-shine-illustration-and-bokeh-lights-illustration-free-vector-2.png');
    
}
.loginBtn{
        -fx-background-color:cornflowerblue;
        -fx-text-fill:white;
        -fx-background-radius:10px;
}
.loginBtn:hover{
        -fx-background-color:transparent;
        -fx-background-radius:10px;

        -fx-text-fill:cornflowerblue;
        -fx-border-color:cornflowerblue;
        -fx-border-width:1px;
        -fx-border-style:solid;
        -fx-border-radius:10px;
}

.alert {
    -fx-background-image:url('file:Images/Cloudy-Night-Sky.png');
}

.alert .dialog-pane {
   -fx-background-image:url('file:Images/Cloudy-Night-Sky.png');
   -fx-text-fill: white;
}

.homePageCurrentWeather{
    -fx-background-image:url('https://api.weather.gov/icons/land/day/skc?size=medium');
}
<<<<<<< Updated upstream
=======

.weather-chart-symbol {
    -fx-background-image: url("https://api.weather.gov/gridpoints/OKX/33,37/forecast");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 24px;
    -fx-background-position: center;
}

.bar-chart .chart-content .chart-plot-background {
    -fx-background-color: transparent;
}

.chart-legend {
   -fx-background-color:  transparent;
}

.homeBackGround{
    -fx-background-color: skyblue;
}
>>>>>>> Stashed changes
